.root {
    -fx-background-color: linear-gradient(to bottom right, #ff9900 0%, #ff5050 73%);
}

.label {
    -fx-text-fill: #eceff1;
    -fx-font-family: "Segoe UI Black";

}

.button {
    -fx-background-color: #17202A;
    -fx-text-fill: #eceff1;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #273746;
}

